{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow border-0 rounded-4 mt-5">
            <div class="card-body p-5">
                <h3 class="text-center fw-bold text-custom mb-4">Entrar na Clínica</h3>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Usuário</label>
                        <input type="text" name="username" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Senha</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary rounded-pill">Entrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}